@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px; /* Default base size */
}

* {
  padding: 0;
  margin: 0;
}

button {
  background-color: #5459D8;
  padding: 1.142rem 2.571rem;
  border-radius: 0.285rem;
  color: white;
  font-size: 1.71rem;
  font-weight: 600;
  line-height: 2.16rem;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #5459D8;
}

button:hover {
  background-color: #5459D8;
}